<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top bg-custom">
    <div class="container container-fluid ml-0">
        <a href="../../index.html"><img id="logo" class="navbar-brand" src="../../images/school.png" alt="HomePage" width="80" height="80"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ml-auto menu-options">
                <li class="nav-item">
                    <a class="nav-item nav-link text-primary" href="/html/courses/show.html">Courses</a>
                </li>
                <li class="nav-item">  
                    <a class="nav-item nav-link text-primary" href="/html/students/show.html">Students</a>
                </li>  
                <li class="nav-item">    
                    <a class="nav-item nav-link text-primary" href="/html/trainers/show.html">Trainers</a>
                </li>    
                <li class="nav-item">    
                    <a class="nav-item nav-link text-primary" href="/html/assignments/show.html">Assignments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link text-primary" href="/html/studentspercourse/show.html">StudentsPerCourse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link text-primary" href="/html/trainerspercourse/show.html">TrainersPerCourse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link text-primary" href="/html/assignmentspercourse/show.html">AssignmentsPerCourse</a>
                </li>    
                <li class="nav-item">
                    <a class="nav-item nav-link text-primary" href="/html/assignmentsperstudent/show.html">AssignmentsPerStudent</a>
                </li>
            </div>
        </div>
    </div>        
</nav>